.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav {
  display: flex;
  position: fixed;
  top: 0%;
  width: 100%;
  /* padding: 0 20px 0 20px; */
  overflow: hidden;
  z-index: 100;
}
.navLight {
  background-color: whitesmoke;
  background-color: lightgrey;
  /* color: darkslategrey; */
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 20px;
  box-shadow: 0 0 10px black;
  /* position: fixed; */
}
.navDark {
  background-color: whitesmoke;
  background-color: black;
  /* color: darkslategrey; */
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 20px;
  box-shadow: 0 0 10px lightgrey;
  /* position: fixed; */
}
nav h1 {
  padding: 10px 0;
  /* font-size: 18px; */
  margin-right: 10px;
}
nav ul {
  display: flex;
  list-style: none;
  gap: 50px
}
.navLight ul a, .navLight a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
}

.navDark ul a, .navDark a {
  text-decoration: none;
  color: lightgrey;
  font-size: 1.5rem;
}

.navDark h1, .navDark h4 {
  color: lightgrey
}

.hide {
  display: none;
}

a {
  text-decoration: none;
}

.mainDivLight {
  background-color: white;
}
.mainDivDark {
  background-color: rgb(33,37,41);
  color: lightgrey;
}

.mainDivDark a {
  color: whitesmoke;
}