html {
  height: 100vh
}

body {
  background-color: rgb(33, 37, 41);
  height: 100%;
  /* background-image: url("https://cpet.tc.columbia.edu/uploads/1/8/4/5/18456699/newsletter-images-for-og-tags-41_1_orig.png"); */
}

.AppLight {
  margin-top: 20px;
  text-align: center;
  /* background-color: white; */
}
.AppDark {
  margin-top: 20px;
  text-align: center;
  background-color: rgb(33, 37, 41);
  color: lightgrey;
}

.AppDark a {
  color:white
}
.AppLight a {
  color:#009050
}

nav {
  display: flex;
  position: fixed;
  top: 0%;
  width: 100%;
  /* padding: 0 20px 0 20px; */
  overflow: hidden;
  z-index: 100;
}
.navLight {
  background-color: whitesmoke;
  background-color: lightgrey;
  /* color: darkslategrey; */
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 20px;
  box-shadow: 0 0 10px black;
  /* position: fixed; */
}
.navDark {
  background-color: whitesmoke;
  background-color: rgb(33,37,41);
  /* color: darkslategrey; */
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 20px;
  box-shadow: 0 0 10px grey;
  /* position: fixed; */
}
nav h1 {
  padding: 10px 0;
  /* font-size: 18px; */
  margin-right: 10px;
}
nav ul {
  display: flex;
  list-style: none;
  gap: 50px
}
.navLight ul a, .navLight a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
}

.navDark ul a, .navDark a {
  text-decoration: none;
  color: lightgrey;
  font-size: 1.5rem;
}

.navDark h1, .navDark h4 {
  color: lightgrey
}

.hide {
  display: none;
}

a {
  /* text-decoration: none; */
}
.BG {
  opacity: .25;
  
}
.mainDivLight {
  margin-top: 60px;
  background-color: white;
}

.mainDivLight a {
  color: #009050;
}
.mainDivDark{
  margin-top: 60px;
  background-color: rgb(33,37,41);
  color: lightgrey;
}

.mainDivDark a {
  color: white;
}

.flex {
  display: flex;
}